@import '../../style.scss';

.header {
  padding-left: 10%;
  background: #fff;

  .signIn {
    margin-right: 10%;

    p {
      font-size: 13px;
      font-weight: 700;
    }

    .fas {
      color: $blue-lt;
    }

    .fas p {
      font: 100% $font-stack;
      font-weight: 700;
      float: right;
      font-size: 30px;
    }
  }
}

@media (max-width: 576px) {
  .header {
    .navbar-brand {
      margin: auto;
    }

    .signIn {
      transform: scale(0.8);
      width: 100%;
      text-align: center;
    }
  }
}